<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onepiece">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/merryhead"
        android:label="OnePiece"
        android:roundIcon="@mipmap/merryhead"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCP5WrqZTZ3ZRefaCYwymdIJq43_unnzAk"/>

        <activity android:name="no.kristiania.onepiece.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="no.kristiania.onepiece.ActivityMain" />
        <activity android:name="no.kristiania.onepiece.ActivityPlace" />
        <activity
            android:name="no.kristiania.onepiece.ActivityMaps"
            android:label="@string/title_activity_maps" />
    </application>
</manifest>